@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="#">Messages <span class="badge">0</span></a></h2>
        <p>Tu bandeja de entrada esta vacia...</p>
        <p><a class="btn btn-default" href="#">Crear Mensaje &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Task List</h1>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Crear usuarios
                </a>
                <a href="#" class="list-group-item">
                    Crear bodega
                </a>
                <a href="#" class="list-group-item">
                    Asignar tareas a empleados
                </a>
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>