@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPageBodega.cshtml";
}

<div class="jumbotron">
<h1>Bienvenido Eduardo Garcia</h1>
<h2 class="lead">Es hora de trabajar!</h2>@*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="#">Messages <span class="badge">0</span></a></h2>
        <p>Tu bandeja de entrada esta vacia...</p>
        <p><a class="btn btn-default" href="#">Crear Mensaje &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Task List</h1>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Reporte de entradas del mes
                </a>
                <a href="#" class="list-group-item">
                    Revisar informacion de bodega
                </a>
                <a href="#" class="list-group-item">
                    Crear nuevo empleado
                </a>
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>